#footer
  .social
    Connect via
    = link_to image_tag('fb.png'), 'https://www.facebook.com/garrycheema007', target: '_blank'
    = link_to image_tag('in.png'), 'https://www.linkedin.com/in/gurvir-cheema-0047a5a8?trk=hp-identity-name', target: '_blank'
    = link_to image_tag('twitter.png'), 'https://twitter.com/GurvirCheema', target: '_blank'
    = link_to image_tag('github.png'), 'https://github.com/gurvircheema', target: '_blank'
  .info
    %p This website is made with Middleman and is hosted on github pages
    %p All rights reserved, Gurvir Cheema
